@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	--background: #f9f6f0;
	--foreground: #2c302e;
	--accent: #9caf88;
	--secondary: #efe5d5;
	--muted: #827c73;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-accent: var(--accent);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-josefin: "Josefin Sans", sans-serif;
	--font-lato: "Lato", sans-serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lato);
	margin: 0;
}
